#main {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar-nav > li > a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.navbar {
  min-height: 20px !important;

  width: 100% !important;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  font-weight: 500;
}

.nav__content {
  font-size: medium;
  
  
  margin: 0 5px;
  max-width: 100vw;
}

.tooth__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;

  height: 100vh;

  background-position: center;

  background-size: cover;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(tooth.jpg);
}

.logo {
  height: auto;
  width: 300px;
  margin-top: 15%;
}

.logo__text {
  margin-top: 10px;
  color: #007357;
}

.float__btn {
  position: fixed;
  top: 90px;
  right: 20px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 11px;
  z-index: 1000;
  color: aliceblue;
  fill: currentColor;
  width: 160px;
}

.float__btn:hover {
  color: #00df25;
}

.svg {
  margin-right: 5px;
  padding: 0.5px;
}

.apoinment__button {
  font-weight: 600;
  border-radius: 10px;
  padding: 12px;
  border-color: rgb(255, 255, 255);
  border-width: 5px;

  background-color: rgb(61, 81, 255);
  color: white;
  margin-top: 30px;
}

.newpatient__div {
  margin: 200px auto;
  height: 25vh;
}

.newpatient__hd {
  text-align: center;
}

.newpatient__sub {
  text-align: center;

  font-weight: 400;
  color: rgb(148, 148, 148);
  margin-top: 40px;
  text-transform: uppercase;
  font-size: large;
}



.intro__btn {
  font-size: medium;
  font-weight: 500;

  margin: 10px auto;
}

.dr {
  margin-top: 30px;
}

.dr__name {
  text-align: center;
  margin-top: 40px;
}

.dr__name__li {
  text-align: center;
  margin-top: 100px;
}

.dr__img {
  width: 350px;
  height: 350px;
  margin: 80px auto;
  object-fit: cover;
  object-position: 20% 10%;
  border: 5px solid black;
}

.dr__btn__div {
  margin-top: 40px;
}
.dr__btn {
  font-weight: 500;

  padding: 10px;
  width: 300px;
  font-size: larger;
}

.dr__para {
  margin-top: 30px;
}

.dr__para__li {
  margin-top: 60px;
  margin-bottom: 60px;
}

.services {
  text-align: center;
  margin-top: 80px;
}

.services__btn__container {
  margin-top: 50px;
}
.services__btns {
  text-align: center;
}

.services__btn__l {
  font-size: large;
  font-weight: 600;
  width: 100%;
}

.backgound__color {
  background-color: #dbf2e3;
}

.after__btn__text {
  text-align: center;
}

.dr__names {
  color: rgb(20, 121, 0);
  text-align: center;
}

.dr__name__sub {
  text-align: center;
}

.zoom {
  transition: transform 0.2s ease;
  max-width: 300px;
}
.zoom:hover {
  transform: scale(1.2);
}


.dr__container__div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12px auto;
}

.parallax {
  background-image: url("hsp.jpg");

  min-height: 500px;
  padding-top: 30px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 100;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(hsp.jpg);
}

.parallax__hd {
  color: seashell;
  
  padding-top: 30px;
}

.parallax__inner {
  padding: 30px;

  border: solid 1px;

  margin: 20px auto;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;

  color: seashell;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: large;
  font-weight: 400;
}

.insurance {
  font-size: 30px;
  text-align: center;

  font-weight: 500;
  background-color: #f9fbfa;

  padding: 30px 10px;
}

.insurance__subtxt {
  font-size: large;
  color: rgb(117, 117, 117);

  font-weight: 300;
  padding-top: 30px;
  text-align: center;
}

.insurance__img {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
.insurance__btn__div {
  text-align: center;
  background-color: #f9fbfa;
  padding-top: 50px;
}

.insurance__divcolor {
  padding-top: 100px;
  background-color: #f9fbfa;
}

.insurance__learnmore__btn {
  font-weight: 500;

  padding: 10px;
  width: 300px;
  font-size: larger;
}

.footer {
  color: rgb(138, 137, 137);
  
}

.foot__end {
  margin-top: 30px;
  background-color: black;
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 15px;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  position: absolute;
  content: "";
  height: 3px;

  bottom: -5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10%;

  background: green;

  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.underline:hover:after {
  width: 15%;
  background: black;
  cursor: default;
}

.mapouter {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: right;
  height: 302px;
  width: 100%;
  margin-bottom: 30vh;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 302px;
  width: 600px;
}

.loc {
  margin-top: 50px;
  margin-left: 25px;
}






body {
	padding-top:70px;
}

